DB_USERNAME=postgres
DB_PASSWORD=password
DB_HOSTNAME=localhost
DB_PORT=5432
DB_NAME=workshop

SECRET_KEY = 0b0c2e93d661cf9eaa2768b52fdefd4ec387b3d56d9cc3ac54ecaf778035f053
ALGORITHM = HS256
TOKEN_EXPIRATION_TIME = 30